@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Task Manager</h1>
    <p><a asp-controller="ToDo" asp-action="Index"> Create/View/Manage your tasks</a></p>
    <p><a asp-controller="ToDo" asp-action="Search"> Search/Filter your tasks</a></p>
</div>
